# This is a basic workflow to help you get started with Actions

name: Build

on: 
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  export_game:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    name: Export And Upload
    steps:
    - name: checkout
      uses: actions/checkout@v5
  
    - name: Export
      id: export
      uses: firebelley/godot-export@v7.0.0
      with:
        godot_executable_download_url: https://downloads.godotengine.org/?version=4.5&flavor=stable&slug=linux.x86_64.zip&platform=linux.64
        godot_export_templates_download_url: https://downloads.godotengine.org/?version=4.5&flavor=stable&slug=export_templates.tpz&platform=templates
        relative_project_path: ./
        archive_output: true

    - name: Create Release
      uses: ncipollo/release-action@v1.18.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        generateReleaseNotes: true
        tag: ${{ github.ref_name }}
        artifacts: ${{ steps.export.outputs.archive_directory }}/*
