# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the workflow will run
on:
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Download Godot
        run: |
          mkdir --parents ~/.local/share/godot
          wget -O ~/.local/share/godot/godot https://downloads.godotengine.org/?version=4.5&flavor=stable&slug=linux.x86_64.zip&platform=linux.64

      - name: Download Release Templates
        run: |
          wget -O ~/.local/share/godot/templates.zip https://downloads.godotengine.org/?version=4.5&flavor=stable&slug=export_templates.tpz&platform=templates
          unzip ~/.local/share/godot/templates.zip
          mkdir --parents ~/.local/share/godot/export_templates/4.5.stable
          mv ~/.local/share/godot/templates/* ~/.local/share/godot/export_templates/4.5.stable/

      - name: Build the game
        run: |
          mkdir Exports
          ~/.local/share/godot/godot --headless --path . --export-release "Windows Desktop" "Export/Stranded Shores.exe"
          ~/.local/share/godot/godot --headless --path . --export-release "Linux" "Export/Stranded Shores.x86-64"
          ~/.local/share/godot/godot --headless --path . --export-release "Web" "Export/Web/index.html"
          
